{% from 'macros.jinja2' import naturalclassifications, evidence_for,
                               probability %}
{% filter rewrap %}
{% if classifications|length > 0 %}
The classification of the GW signal, in order of descending probability,
is {{naturalclassifications(classifications)}}.
{% endif %}

{% if prob_has_ns is not none %}
Assuming the candidate is astrophysical in origin, there
is {{evidence_for(prob_has_ns)}} the lighter compact object having a mass
< 3 solar masses (HasNS: {{probability(prob_has_ns)}}). Using the
masses and spins inferred from the signal, there is
{{evidence_for(prob_has_remnant)}} matter outside the final compact object
(HasRemnant: {{probability(prob_has_remnant)}}).
{% endif %}
{% endfilter %}
